@media(prefers-color-scheme: light)
{
	@media only screen and (max-width: 1176px)
	{
		#head-content
		{
			background-color: var(--dark-layer-two);
			box-shadow: 0px -10px 10px 10px rgba(0, 0, 10, .2);
			/* border-bottom: 1px solid rgba(0, 0, 10, 0.2); */
			border-bottom: 1px solid rgb(200, 200, 210);
		}

		#footer-content
		{
			border-top: 1px solid var(--dark-layer-one)!important;
		}
	}

	:root
	{
		--dark-layer-one: rgb(220, 220, 230);
		--dark-layer-two: rgb(245, 245, 255);
		--light-layer-one: rgb(45, 45, 60);
		--light-layer-two: rgb(60, 60, 80);
	}

	*
	{
		scrollbar-color: var(--dark-layer-two) var(--light-layer-one);
	}

	#footer-content
	{
		background: rgba(245, 245, 255, .8);
	}

	h1, input[type='button']:not(.control-panel), input[type='button']:not(:disabled).white, button:not(:disabled).white, button, #devices button, input[type='text']:focus, input[type='password']:focus, textarea:focus, .log-message
	{
		color: var(--dark-layer-one);
	}

	.control-panel, h1, input[type='button']:not(.control-panel), input[type='button']:not(:disabled).white, button:not(:disabled).white, button, input[type='text']:focus, input[type='password']:focus, textarea:focus, .log-message
	{
		background: var(--light-layer-one);
	}

	input:not(.control-panel):not(:disabled):not([type='radio']):not([type='submit']):hover, textarea:not(:disabled):hover
	{
		background: var(--light-layer-one);
		color: var(--dark-layer-one);
	}

	input[type='submit']
	{
		color: var(--light-layer-one);
	}

	h2, p, label, input, textarea, .select-selected, .scrollarea
	{
		color: var(--light-layer-one);
	}

	.gradient-red, .gradient-green, .gradient-blue, .gradient-blue-green, .gradient-blue-purple, .gradient-purple, .gradient-yellow, .gradient-orange, .gradient-cyan
	{
		color: var(--light-layer-one)!important;
	}

	h2, input[type='button']:disabled, .outline, input, textarea, .select-selected, .scrollarea
	{
		border-color: var(--light-layer-one);
	}

	.outline
	{
		border-color: var(--light-layer-one)!important;
		color: var(--light-layer-one)!important;
	}

	input[type='button']:disabled
	{
		border-color: var(--light-layer-one)!important;
		color: var(--light-layer-one)!important;
	}

	input:hover:not(.control-panel):not(:disabled):not([type='radio']), textarea:hover:not(:disabled)
	{
		border-color: rgba(45, 45, 55, 0);
	}

	.control-panel
	{
		background-image: linear-gradient(to top, var(--light-layer-one) 0%, rgb(25, 25, 35) 100%);
	}

	.setup-png
	{
		filter: saturate(0%);
	}

	input[type='button']:not(:disabled):not(.control-panel):not(.widget-left):not(.widget-right):not(.type-container):hover, button:not(:disabled):not(.control-panel):not(.widget-left):not(.widget-right):not(.type-container):hover
	{
		background: var(--light-layer-two);
		filter: none;
	}

	input[type='button']:not(:disabled).white:hover, button:not(:disabled).white:hover
	{
		filter: none!important;
		background: rgb(75, 75, 95);
	}

	#rooms input:not(.room-active):hover
	{
		background: rgb(75, 75, 95)!important;
	}

	input[type='button']:not(:disabled):not(.control-panel):not(.widget-left):not(.widget-right):not(.type-container):active, button:not(:disabled):not(.control-panel):not(.widget-left):not(.widget-right):not(.type-container):active
	{
		background: var(--light-layer-two);
		filter: none;
	}

	input[type='button']:not(:disabled).white:active, button:not(:disabled).white:active
	{
		filter: none!important;
		background: rgb(75, 75, 95);
	}

	#rooms input:not(.room-active):active
	{
		background: rgb(75, 75, 95)!important;
	}

	.gradient-blue:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):hover,
	.gradient-blue-green:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):hover,
	.gradient-blue-purple:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):hover,
	.gradient-cyan:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):hover,
	.gradient-green:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):hover,
	.gradient-orange:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):hover,
	.gradient-purple:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):hover,
	.gradient-red:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):hover,
	.gradient-yellow:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):hover,
	input[type='submit']:not(:disabled):not(.control-panel):not(.widget-left):not(.widget-right):hover
	{
		filter: brightness(90%)!important;
	}

	.gradient-blue:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):active,
	.gradient-blue-green:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):active,
	.gradient-blue-purple:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):active,
	.gradient-cyan:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):active,
	.gradient-green:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):active,
	.gradient-orange:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):active,
	.gradient-purple:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):active,
	.gradient-red:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):active,
	.gradient-yellow:not(div):not(:disabled):not(.control-panel):not(.overlay):not(.widget-left):not(.widget-right):active,
	input[type='submit']:not(:disabled):not(.control-panel):not(.widget-left):not(.widget-right):active
	{
		filter: brightness(90%)!important;
	}

	.select-items div:not(.same-as-selected):hover, .type-container:hover
	{
		filter: none!important;
	}
	
	.select-items div:not(.same-as-selected):active, .type-container:active
	{
		filter: none!important;
	}

	::-webkit-scrollbar-track, ::-webkit-scrollbar
	{
		background: var(--light-layer-one);
	}

	::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner
	{
		background: var(--dark-layer-two);
		border: 2px solid var(--light-layer-one);
	}

	input, textarea, button, .widget, .scrollarea
	{
		box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2),
					0 2px 2px -1px rgba(0, 0, 0, 0.15),
					0 4px 4px -2px rgba(0, 0, 0, 0.15),
					0 8px 8px -2px rgba(0, 0, 0, 0.1);
	}

	.type-container
	{
		background: var(--dark-layer-two);
	}

	.title-container
	{
		background: var(--dark-layer-one);
	}

	.type-container, #footer-content
	{
		border-color: rgba(255, 255, 255, .5);
	}

	.striped, #footer-content
	{
		background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .05) 10px);
	}

	#rooms
	{
		background: var(--light-layer-one);
		border-color: var(--light-layer-one);
	}

	#rooms input
	{
		border-color: rgb(110, 110, 130);
	}

	.room-active
	{
		background: rgb(110, 110, 130)!important;
	}

	.select-selected.select-active, .same-as-selected
	{
		background: var(--light-layer-one)!important;
		color: var(--dark-layer-one)!important;
	}

	.select-selected:after
	{
		border-color: var(--light-layer-one) transparent transparent transparent;
	}

	.select-selected.select-active:after
	{
		border-color: transparent transparent var(--dark-layer-one) transparent;
	}

	.custom-select > .select-items
	{
		background: rgb(20, 20, 30);
	}
	
	.custom-select > .select-items div
	{
		background: rgb(20, 20, 30);
		color: var(--dark-layer-one);
	}

	.custom-select > .select-items div:hover
	{
		background: var(--light-layer-two);
		color: var(--dark-layer-one);
	}

	.custom-select > .select-items div:active
	{
		background: var(--light-layer-two);
		color: var(--dark-layer-one);
	}

	.icon, .select-selected img, .select-items img
	{
		filter: invert(18%) sepia(10%) hue-rotate(200deg);
	}

	.icon-inverted, .select-selected.select-active img, .select-items img
	{
		filter: invert(95%) sepia(10%) hue-rotate(200deg);
	}

	.table
	{
		color: var(--light-layer-one);
		background: var(--dark-layer-two);
	}

	.table .column
	{
		background: var(--dark-layer-one);
	}

	.table .primary
	{
		background: rgb(200, 200, 220);
	}

	.update-status
	{
		color: var(--light-layer-one);
	}

	input[type='text']::placeholder, input[type='password']::placeholder
	{
		color: rgb(110, 110, 130);
	}

	.reload-button
	{
		background: var(--dark-layer-two);
		color: var(--light-layer-one);
		border-color: rgb(20, 20, 30)!important;
	}
}