@font-face { font-family: 'Rubik'; font-weight: 500; src: local('Rubik'), url('/style/Rubik-Black.ttf'); }
@font-face { font-family: 'Rubik'; font-weight: 400; src: local('Rubik'), url('/style/Rubik-Bold.ttf'); }
@font-face { font-family: 'Rubik'; font-weight: 100; src: local('Rubik'), url('/style/Rubik-Light.ttf'); }
@font-face { font-family: 'Rubik'; font-weight: 300; src: local('Rubik'), url('/style/Rubik-Medium.ttf'); }
@font-face { font-family: 'Rubik'; font-weight: 200; src: local('Rubik'), url('/style/Rubik-Regular.ttf'); }

*
{
    font-family: Rubik;
    -webkit-appearance: none;
}

body
{
    margin: 0;
    padding: 50px 25px;
    background: rgb(20, 20, 30);
}

img
{
    /* image-rendering: -webkit-optimize-contrast; */
}

.main
{
    min-width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}

b
{
    font-weight: 300;
}

input, textarea, button
{
    height: 50px;
    width: 100%!important;
    background: transparent;
    color: rgb(245, 245, 255);
    outline: none;
    border: 3px solid rgb(245, 245, 255);
    border-radius: 16px;
    font-size: 16px;
    transition: .2s ease-out;
    font-weight: 200;
    letter-spacing: 3px;
    box-sizing: border-box;
    box-shadow: 0 0px 1px rgba(0, 0 , 0 , 0.04), 
                0 1px 2px rgba(0, 0 , 0 , 0.06), 
                0 2px 4px rgba(0, 0 , 0 , 0.08), 
                0 4px 8px rgba(0, 0 , 0 , 0.10);
    white-space: normal;
}

input[type='text']::placeholder, input[type='password']::placeholder
{
    color: rgb(160, 160, 170);
}

input[type='radio']
{
    background: transparent;
    transition: .15s ease-in-out;
}

input[type='radio']:active, input[type='radio']:checked
{
    border-width: 10px;
}

input[type='text']:focus, input[type='password']:focus, input[type='text']:hover, input[type='password']:hover, textarea:focus, textarea:hover
{
    background: rgb(245, 245, 255);
    color: rgb(20, 20, 30);
}

input[type='button']:not(:disabled):not(.control-panel):hover, input[type='submit']:not(:disabled):not(.control-panel):hover, button:not(:disabled):not(.control-panel):hover
{
    filter: brightness(75%);
}

input[type='button']:active:not(.control-panel), input[type='submit']:active, button:active
{
    letter-spacing: 1px;
}

input[type='text'], input[type='password']
{
    padding-left: 20px;
}

textarea
{
    padding: 20px;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;
    height: 300px;
    resize: none;
    white-space: pre-line;
    border-right-width: 0;
}

input[type='button']:not(:disabled):not(.control-panel), input[type='submit']:not(:disabled):not(.control-panel), button:not(:disabled):not(.control-panel)
{
    cursor: pointer;
}

input[type='button'], input[type='submit'], button
{
    background: rgb(60, 60, 75);
    border-width: 0;
    color: rgb(20, 20, 30); 
}

input[type='submit']
{
    background-image: linear-gradient(to right, hsl(150, 85%, 50%) 0%, hsl(170, 85%, 50%) 100%)!important;
}

input[type='button'].white, button.white
{
    background: rgb(245, 245, 255);
}

input[type='button']:disabled, .outline
{
    background: transparent!important;
    color: rgb(245, 245, 255)!important;
    border: 3px solid rgb(245, 245, 255)!important;
    opacity: 1!important;
}

input[type='radio']
{
    width: 20px!important;
    height: 20px!important;
    margin: 0;
    margin-right: 20px;
}

label
{
    display: flex!important;
}

h1, h2
{
    font-weight: 300;
    display: inline-block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    background: rgb(245, 245, 255);
    color: rgb(20, 20, 30);
    margin-top: 50px;
}

p, a, label
{
    font-weight: 200;
}

h1, h2, p, a, label
{
    text-align: center;
    font-size: 48px;
    letter-spacing: 10px;
    text-transform: uppercase;
    display: block;
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
    word-break: keep-all;
}

p, a, label
{
    font-style: italic;
}

a
{
    text-decoration: none;
    color: hsl(210, 80%, 65%)!important;
    margin: 0!important;
    text-align: left;
}

p, label
{
    color: rgb(245, 245, 255);
}

p, a, label
{
    font-size: 16px!important;
}

h2, h1
{
    border-radius: 40px;
}

h1
{
    padding: 8px 20px 7.5px 30px;
}

h2
{
    padding: 8.5px 20px;
    padding-right: 10px;
    font-size: 28px;
    font-weight: 200;
    margin-top: 60px;
    margin-bottom: 20px;
    border-width: 3px;
    background: transparent;
    color: rgb(245, 245, 255);
    border: 3px solid rgb(245, 245, 255);
}

.indicator
{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid rgb(245, 245, 255);
    margin: auto 20px auto 20px;
    transition: .3s ease;
}

.indicator.red
{
    background: hsl(350, 75%, 50%);
}

.indicator.green
{
    background: hsl(150, 75%, 50%);
}

.control-container, .status-container
{
    min-width: 60%;
    width: 100%;
    top: -50px;
    margin-top: 50px;
    position: relative;
}

.control-panel, .status-panel
{
    color: rgb(20, 20, 30);
    background-image: linear-gradient(to top, rgb(245, 245, 255) 0%, rgb(205, 205, 215) 100%);
    border-width: 0;
    height: 150px;
    padding: 10px 60px;
    border-radius: 35px;
    font-size: 48px;
    letter-spacing: 20px;
    font-weight: 400!important;
}

.control-panel
{
    transition: .3s ease-in-out;
    margin-bottom: 20px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .05) 100%)!important;
    /*
    background-image: repeating-linear-gradient(90deg, transparent, transparent 6px, rgba(0, 0, 0, .08) 0px, rgba(0, 0, 0, .08) 12px)!important;
    background-attachment: fixed!important;
    */
}
/*
.control-panel:nth-of-type(2n)
{
    background-image: repeating-linear-gradient(90deg, transparent, transparent 6px, rgba(0, 0, 0, .08) 0px, rgba(0, 0, 0, .08) 12px)!important;
}
*/
.status-panel
{
    margin-top: 20px;
}

.gradient-red
{
    background: transparent;
    background-image: linear-gradient(to left, hsl(345, 85%, 55%) 0%, hsl(350, 95%, 60%) 100%)!important;
}

.gradient-green
{
    background: transparent;
    background-image: linear-gradient(to right, hsl(145, 85%, 50%) 0%, hsl(165, 85%, 50%) 100%)!important;
}

.gradient-blue
{
    background: transparent;
    background-image: linear-gradient(to right, hsl(200, 85%, 55%) 0%, hsl(220, 95%, 60%) 100%)!important;
}

.gradient-cyan
{
    background: transparent;
    background-image: linear-gradient(to left, hsl(190, 85%, 50%) 0%, hsl(180, 95%, 60%) 100%)!important;
}

.gradient-blue-green
{
    background: transparent;
    background-image: linear-gradient(to left, hsl(170, 90%, 50%) 0%, hsl(205, 95%, 60%) 100%)!important;
}

.gradient-blue-purple
{
    background: transparent;
    background-image: linear-gradient(to left, hsl(270, 85%, 55%) 0%, hsl(200, 85%, 55%) 100%)!important;
}

.gradient-purple
{
    background: transparent;
    background-image: linear-gradient(to left, hsl(270, 85%, 55%) 0%, hsl(280, 95%, 60%) 100%)!important;
}

.gradient-yellow
{
    background: transparent;
    background-image: linear-gradient(to left, hsl(35, 85%, 55%) 0%, hsl(50, 95%, 60%) 100%)!important;
}

.gradient-orange
{
    background: transparent;
    background-image: linear-gradient(to left, hsl(12, 85%, 55%) 0%, hsl(18, 95%, 60%) 100%)!important;
}

.setup-png
{
    width: 200px;
    height: 200px;
    filter: invert(100%) saturate(0%);
    margin: 0 auto;
    margin-bottom: 100px;
    display: block;
}

::-webkit-scrollbar
{
    width: auto;
    height: auto;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar
{
    background: rgb(245, 245, 255);
    /*border-radius: 13px 0 0 13px!important;*/
    border-radius: 0!important;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner
{
    background: rgb(30, 30, 40);
    border: 2px solid rgb(245, 245, 255);
    border-radius: 26px!important;
    min-height: 26px;
}

textarea::-webkit-scrollbar-thumb
{
    border-top-width: 1px;
    border-bottom-width: 0;
}

textarea::-webkit-scrollbar-track, textarea::-webkit-scrollbar
{
    border-radius: 0 13px 13px 0!important;
}

textarea
{
    border-right-width: 0;
}

*
{
    scrollbar-color: rgb(30, 30, 40) rgb(245, 245, 255);
}

::-webkit-scrollbar-track
{
    background: transparent;
    border-radius: 26px!important;
    overflow: hidden;
}

::-webkit-scrollbar
{
    width: 26px;
    overflow: hidden;
}

.overlay, .overlay-bottom
{
    opacity: 0;
    padding-left: 18px;
    position: relative;
    top: 50px;
    margin-top: -50px;
}

.overlay-bottom
{
    top: 70px;
}

.widget
{
    display: flex;
    width: 100%!important;
    background: transparent;
    outline: none;
    border-radius: 16px;
    font-size: 16px;
    transition: .2s ease-out;
    font-weight: 200;
    letter-spacing: 3px;
    box-sizing: border-box;
    box-shadow: 0 0px 1px rgba(0,0,0,0.04), 
                0 1px 2px rgba(0,0,0,0.06), 
                0 2px 4px rgba(0,0,0,0.08), 
                0 4px 8px rgba(0,0,0,0.10);
    border-width: 0;    
    color: rgb(20, 20, 30);
    padding: auto;
    overflow: hidden;
    white-space: normal;
}

.widget-left, .widget-right
{
    width: 50%;
}

.widget-left, .widget-right
{
    height: auto;
    border-radius: 0;
    padding: 18px;
    width: 50%;
    box-shadow: none!important;
    letter-spacing: 3px!important;
    margin: 0px!important;
}

.widget-left
{
    text-align: left;
    text-transform: uppercase;
}

.widget-right
{
    text-align: right;
}

#widgets
{
    display: flex;
}

#devices.grid-view input[type='button'], #devices.grid-view button
{
    height: 100px;
    word-break: break-word;
}

#devices.grid-view input[type='button'].update
{
    width: 175px!important;
}

#devices.grid-view .container
{
    grid-template-columns: calc(33% - 13px) calc(34% - 14px) calc(33% - 13px);
}

#devices.grid-view .overlay
{
    top: 100px;
    margin-top: -100px;
}

.type-container
{
    background: rgb(40, 40, 55);
    padding: 20px;
    border-radius: 32px;
    margin-top: 50px;
}

.accessory-img
{
    /* filter: invert(7%) sepia(50%) hue-rotate(200deg); */
    filter: invert(85%) sepia(10%) hue-rotate(200deg);
    position: absolute;
    top: 12px;
    height: 51%;
    right: 12px;
}

#devices.grid-view .accessory-img
{
    top: 25px;
    right: 19px;
}

.connection
{
    position: absolute;
    top: 17px;
    right: 50px;
    color: hsl(350, 95%, 60%);
    color: hsl(170, 90%, 50%);
    font-size: calc(2.5vw - 0.5px);
    font-size: 14px;
    text-align: right;
    transition: .3s all;
}

#devices.grid-view .connection
{
    position: absolute;
    bottom: 38px;
    left: 18px;
    right: auto;
    text-align: left;
    top: auto;
}

#devices button
{
    color: rgb(220, 220, 230);
}

.device-name
{
    position: absolute;
    bottom: 14px;
    width: calc(100% - 36px);
}

#view-button
{
    width: 50px!important;
    padding: 14px;
}

.title-container
{
    background: rgb(20, 20, 30);
    border-radius: 16px;
}

@media(prefers-color-scheme: light)
{
    body
    {
        background: rgb(220, 220, 230);
    }

    html
    {
        background: rgb(45, 45, 55);
    }

    input:hover:not(.control-panel):not(:disabled):not([type='radio']), textarea:hover:not(:disabled), .control-panel, .status-panel, h1, input[type='button']:not(.control-panel), input[type='button']:not(:disabled).white, button:not(:disabled).white, button, input[type='text']:focus, input[type='password']:focus, textarea:focus
    {
        color: rgb(220, 220, 230);
    }

    input:hover:not(.control-panel):not(:disabled):not([type='radio']), textarea:hover:not(:disabled), h1, input[type='button']:not(.control-panel), input[type='button']:not(:disabled).white, button:not(:disabled).white, button, input[type='text']:focus, input[type='password']:focus, textarea:focus
    {
        background: rgb(45, 45, 55);
    }

    h2, p, label, input, textarea
    {
        color: rgb(45, 45, 55);
    }

    .gradient-red, .gradient-green, .gradient-blue, .gradient-blue-green, .gradient-purple, .gradient-yellow, .gradient-orange, .gradient-cyan
    {
        color: rgb(45, 45, 55)!important;
    }

    h2, input[type='button']:disabled, .outline, input, textarea
    {
        border-color: rgb(45, 45, 55);
    }

    .outline
    {
        border-color: rgb(45, 45, 55)!important;
        color: rgb(45, 45, 55)!important;
    }

    input[type='button']:disabled
    {
        border-color: rgb(45, 45, 55)!important;
        color: rgb(45, 45, 55)!important;
    }

    input:hover:not(.control-panel):not(:disabled):not([type='radio']), textarea:hover:not(:disabled)
    {
        border-color: rgba(45, 45, 55, 0);
    }

    .control-panel, .status-panel
    {
        background-image: linear-gradient(to top, rgb(45, 45, 55) 0%, rgb(25, 25, 35) 100%);
    }

    .setup-png
    {
        filter: saturate(0%);
    }

    input[type='button']:not(:disabled):not(.control-panel):hover, input[type='submit']:not(:disabled):not(.control-panel):hover, button:not(:disabled):not(.control-panel):hover
    {
        filter: brightness(80%);
    }

    ::-webkit-scrollbar-track, ::-webkit-scrollbar
    {
        background: rgb(45, 45, 55);
    }

    ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner
    {
        background: rgb(245, 245, 255);
        border: 2px solid rgb(45, 45, 55);
    }

    *
    {
        scrollbar-color: rgb(245, 245, 255) rgb(45, 45, 55);
    }

    input, textarea, button, .widget
    {
        box-shadow: 0 1px 1px -1px rgba(0,0,0,0.2),
                    0 2px 2px -1px rgba(0,0,0,0.15),
                    0 4px 4px -2px rgba(0,0,0,0.15),
                    0 8px 8px -2px rgba(0,0,0,0.1);
    }

    .type-container
    {
        background: rgb(245, 245, 255);
    }

    .title-container
    {
        background: rgb(220, 220, 230);
    }
}

@media only screen and (max-width: 1176px)
{
    h1
    {
        font-size: 38px;
    }
    
    h2
    {
        font-size: 24px;
    }

    body
    {
        min-height: calc(100% - 100px);
    }

    .main
    {
        max-width: 100%;
    }

    .control-panel, .status-panel
    {
        border-radius: 0!important;
        max-width: 100%!important;
        white-space: normal;
        font-size: 46px!important;
        padding: 10px 25px;
    }

    .control-container, .status-container
    {
        width: calc(100% + 50px)!important;
        left: -25px;
        margin-top: 0;
        min-width: none;
        max-width: none;
    }
    
    .status-container
    {
        margin-top: 50px;
        bottom: 0;
        margin-bottom: -100px;
    }

    input, textarea, button
    {
        font-size: 18px;
        font-weight: 300!important;
        border-radius: 30px;
    }

    textarea
    {
        border-right-width: 3;
    }

    input, button
    {
        height: 60px;
    }

    .overlay, .overlay-bottom
    {
        top: 70px;
        margin-top: -70px;
    }

    .overlay-bottom
    {
        top: 90px;
    }

    .widget
    {
        display: block;
        border-radius: 30px;
        font-size: 18px!important;
        font-weight: 300!important;
        margin-left: 0;
    }

    .widget-right, .widget-left
    {
        width: 100%;
        text-align: center;
    }

    #widgets
    {
        display: grid;
        grid-template-columns: calc(50% - 10px) calc(50% - 10px)!important;
        grid-template-rows: auto;
        grid-gap: 20px;
    }

    .control-panel
    {
        margin-bottom: 0px;
        box-shadow: none;
    }

    textarea::-webkit-scrollbar-track, textarea::-webkit-scrollbar
    {
        border-radius: 0 26px 26px 0!important;
    }

    textarea::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-corner
    {
        border-radius: 0 26px 26px 0!important;
        border-left-width: 5px;
        min-height: 52px;
    }

    #devices.grid-view input[type='button'], #devices.grid-view button
    {
        height: 160px;
        border-radius: 26px;
    }
    
    #devices.grid-view .overlay
    {
        top: 160px;
        margin-top: -160px;
    }

    .accessory-img
    {
        top: 15px;
        height: 49%;
        right: 15px;
    }

    #devices.grid-view .accessory-img
    {
        top: 19px;
        left: 19px;
        height: 25%;
        right: auto;
    }

    .connection
    {
        font-weight: 200!important;
        right: 55px;
        top: 20px;
        font-size: 15px;
    }

    #devices.grid-view .connection
    {
        top: 30px;
        right: 15px;
        width: calc(100% - 36px);
        font-size: 14px;
        text-align: right;
    }

    .device-name
    {
        bottom: 19px;
    }

    #devices.grid-view .device-name
    {
        bottom: 15px;
    }

    #view-button
    {
        width: 60px!important;
        padding: 15px;
    }

    .type-container
    {
        border-radius: 45px;
        width: calc(100% + 10px)!important;
        margin-left: -25px;
        box-sizing: content-box;
    }

    .title-container
    {
        border-radius: 30px;
    }
}
