@font-face { font-family: Rubik; font-weight: 500; src: url('/syntex/style/Rubik-Black.ttf'); }
@font-face { font-family: Rubik; font-weight: 400; src: url('/syntex/style/Rubik-Bold.ttf'); }
@font-face { font-family: Rubik; font-weight: 100; src: url('/syntex/style/Rubik-Light.ttf'); }
@font-face { font-family: Rubik; font-weight: 300; src: url('/syntex/style/Rubik-Medium.ttf'); }
@font-face { font-family: Rubik; font-weight: 200; src: url('/syntex/style/Rubik-Regular.ttf'); }

*
{
    font-family: Rubik;
    -webkit-appearance: none;
}

body
{
    margin: 0;
    padding: 50px 25px;
    background: rgb(20, 20, 30);
}

.main
{
    min-width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}

b
{
    font-weight: 300;
}

input, .outline
{
    height: 50px;
    width: 100%!important;
    background: transparent;
    color: rgb(245, 245, 255);
    outline: none;
    border: 3px solid rgb(245, 245, 255);
    border-radius: 16px;
    font-size: 16px;
    transition: .2s ease-out;
    font-weight: 200;
    letter-spacing: 3px;
    box-sizing: border-box;
    box-shadow: 0 0px 1px rgba(0,0,0,0.04), 
                0 1px 2px rgba(0,0,0,0.06), 
                0 2px 4px rgba(0,0,0,0.08), 
                0 4px 8px rgba(0,0,0,0.10);
}

input[type='text']::placeholder, input[type='password']::placeholder
{
    color: rgb(160, 160, 170);
}

input[type='radio']
{
    background: transparent;
    transition: .15s ease-in-out;
}

input[type='radio']:active, input[type='radio']:checked
{
    border-width: 10px;
}

input[type='text']:focus, input[type='password']:focus, input[type='text']:hover, input[type='password']:hover, .outline:focus, .outline:hover
{
    background: rgb(245, 245, 255);
    color: rgb(20, 20, 30);
}

input[type='button']:not(:disabled):not(.control-panel):hover, input[type='submit']:not(:disabled):not(.control-panel):hover
{
    filter: brightness(75%);
}

input[type='button']:active:not(.control-panel), input[type='submit']:active
{
    letter-spacing: 1px;
}

input[type='text'], input[type='password']
{
    padding-left: 20px;
}

.outline
{
    padding: 20px;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;
}

input[type='button']:not(:disabled):not(.control-panel), input[type='submit']:not(:disabled):not(.control-panel)
{
    cursor: pointer;
}

input[type='button'], input[type='submit']
{
    background: rgb(60, 60, 75);
    border-width: 0;
    color: rgb(20, 20, 30);
}

input[type='submit']
{
    background-image: linear-gradient(to right, hsl(150, 85%, 50%) 0%, hsl(170, 85%, 50%) 100%)!important;
}

input[type='button'].white
{
    background: rgb(245, 245, 255);
}

input[type='button']:disabled
{
    background: transparent;
    color: rgb(245, 245, 255);
    border: 3px solid rgb(245, 245, 255);
    opacity: 1!important;
}

input[type='radio']
{
    width: 20px!important;
    height: 20px!important;
    margin: 0;
    margin-right: 20px;
}

label
{
    display: flex!important;
}

h1, h2
{
    font-weight: 300;
    display: inline-block;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    border-bottom: 3px solid white;
    padding-bottom: 15px;
}

p, a, label
{
    font-weight: 200;
}

h1, h2, p, a, label
{
    text-align: center;
    font-size: 48px;
    letter-spacing: 10px;
    text-transform: uppercase;
    display: block;
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
    word-break: keep-all;
}

h1, p, a, label
{
    font-style: italic;
}

a
{
    text-decoration: none;
    color: hsl(210, 80%, 65%)!important;
    margin: 0!important;
    text-align: left;
}

h1, p, label
{
    color: rgb(245, 245, 255);
}

p, a, label
{
    font-size: 16px;
}

h2
{
    font-size: 28px;
    font-weight: 200;
    text-align: left;
    margin-top: 60px;
    margin-top: 60px;
    margin-bottom: 20px;
    border-width: 3px;
    background: transparent;
    color: rgb(245, 245, 255);
    border: 3px solid rgb(245, 245, 255);
    border-radius: 50px;
    padding: 8.5px 20px;
    padding-right: 10px;
}

.indicator
{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid rgb(245, 245, 255);
    margin: auto 20px auto 20px;
    transition: .3s ease;
}

.indicator.red
{
    background: hsl(350, 75%, 50%);
}

.indicator.green
{
    background: hsl(150, 75%, 50%);
}

.control-container, .status-container
{
    min-width: 60%;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    top: -50px;
    margin-top: 50px;
    position: relative;
}

.control-panel, .status-panel
{
    color: rgb(20, 20, 30);
    background-image: linear-gradient(to top, rgb(245, 245, 255) 0%, rgb(205, 205, 215) 100%);
    border-width: 0;
    height: 200px;
    border-radius: 35px;
    font-size: 48px;
    letter-spacing: 20px;
    font-weight: 400!important;
}

.status-panel
{
    margin-top: 20px;
}

.gradient-red
{
    background-image: linear-gradient(to left, hsl(345, 85%, 55%) 0%, hsl(350, 95%, 60%) 100%)!important;
}

.gradient-green
{
    background-image: linear-gradient(to right, hsl(150, 85%, 50%) 0%, hsl(170, 85%, 50%) 100%)!important;
}

.gradient-blue
{
    background-image: linear-gradient(to right, hsl(200, 85%, 55%) 0%, hsl(220, 95%, 60%) 100%)!important;
}

.gradient-blue-green
{
    background-image: linear-gradient(to left, hsl(170, 90%, 50%) 0%, hsl(205, 95%, 60%) 100%)!important;
}

.gradient-purple
{
    background-image: linear-gradient(to left, hsl(270, 85%, 55%) 0%, hsl(280, 95%, 60%) 100%)!important;
}

.setup-png
{
    width: 200px;
    height: 200px;
    filter: invert(100%) saturate(0%);
    margin: 0 auto;
    margin-bottom: 100px;
    display: block;
}

::-webkit-scrollbar
{
    width: auto;
    height: auto;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar
{
    background: rgba(30, 30, 40, 0.6);
    border-radius: 26px!important;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner
{
    background: rgba(245, 245, 255, 0.15);
    border-radius: 24px!important;
}

*
{
    scrollbar-color: rgba(245, 245, 255, 0.15) rgba(30, 30, 40, 0.6);
}

::-webkit-scrollbar-track
{
    background: transparent;
    border-radius: 26px!important;
    overflow: hidden;
}

::-webkit-scrollbar
{
    width: 26px;
    overflow: hidden;
}

.overlay, .overlay-bottom
{
    opacity: 0;
    padding-left: 18px;
    position: relative;
    top: 50px;
    margin-top: -50px;
}

.overlay-bottom
{
    top: 70px;
}

.widget
{
    display: flex;
    width: 100%!important;
    background: transparent;
    color: rgb(245, 245, 255);
    outline: none;
    border: 3px solid rgb(245, 245, 255);
    border-radius: 16px;
    font-size: 16px;
    transition: .2s ease-out;
    font-weight: 200;
    letter-spacing: 3px;
    box-sizing: border-box;
    box-shadow: 0 0px 1px rgba(0,0,0,0.04), 
                0 1px 2px rgba(0,0,0,0.06), 
                0 2px 4px rgba(0,0,0,0.08), 
                0 4px 8px rgba(0,0,0,0.10);
    background: rgb(60, 60, 75);
    border-width: 0;
    color: rgb(20, 20, 30);
    padding: auto;
    margin-bottom: 20px;
}

.widget-left
{
    width: 50%;
    margin-right: auto
}

.widget-right
{
    width: 50%;
    border-radius: 18px;
    overflow: hidden
}

.widget-left *
{
    padding: 18px;
    width: 50%;
}

.widget-right *
{
    background: rgb(245, 245, 255);
    text-align: right;
    padding: 18px
}

@media(prefers-color-scheme: light)
{
    body
    {
        background: rgb(220, 220, 230);
    }

    input, .outline
    {
        color: rgb(45, 45, 55);
        border-color: rgb(45, 45, 55);
        box-shadow: 0 0px 1px -2px rgba(0,0,0,0.20), 
              0 1px 2px -2px rgba(0,0,0,0.2), 
              0 2px 4px -2px rgba(0,0,0,0.15), 
              0 4px 8px -2px rgba(0,0,0,0.15), 
              0 8px 16px -2px rgba(0,0,0,0.15);
    }

    input[type='button']:not(:disabled):not(.control-panel):hover, input[type='submit']:not(:disabled):not(.control-panel):hover
    {
        filter: brightness(80%);
    }

    input:hover:not(.control-panel):not(:disabled):not([type='radio']), .outline:hover:not(:disabled)
    {
        background: rgb(45, 45, 55);
        color: rgb(220, 220, 230);
        border-color: rgba(45, 45, 55, 0);
    }

    h1, p, label
    {
        color: rgb(45, 45, 55);
    }
    
    h2
    {
        color: rgb(45, 45, 55);
        border: 3px solid rgb(45, 45, 55);
    }

    .control-panel, .status-panel
    {
        color: rgb(220, 220, 230);
        background-image: linear-gradient(to top, rgb(45, 45, 55) 0%, rgb(25, 25, 35) 100%);
    }

    h1, h2
    {
        border-color: rgb(45, 45, 55);
    }

    input[type='button']:not(:disabled), input[type='button']:not(:disabled).white
    { 
        color: rgb(220, 220, 230);
        background: rgb(45, 45, 55);
    }
    
    input[type='button']:disabled
    {
        color: rgb(45, 45, 55);
        border: 3px solid rgb(45, 45, 55);
    }

    input[type='text']:focus, input[type='password']:focus, .outline:focus
    {
        background: rgb(45, 45, 55);
        color: rgb(220, 220, 230);
    }

    .gradient-red, .gradient-green, .gradient-blue, .gradient-blue-green, .gradient-purple, input[type='submit']
    {
        color: rgb(20, 20, 30)!important;
    }

    .setup-png
    {
        filter: saturate(0%);
    }

    ::-webkit-scrollbar-track, ::-webkit-scrollbar
    {
        background: rgba(245, 245, 255, 0.5);
    }

    ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner
    {
        background: rgba(50, 50, 60, 0.2);
    }

    *
    {
        scrollbar-color: rgba(50, 50, 60, 0.2) rgba(245, 245, 255, 0.5);
    }
}

@media only screen and (max-width: 1176px)
{
    h1
    {
        font-size: 38px;
    }
    
    h2
    {
        font-size: 24px;
    }

    body
    {
        min-height: calc(100% - 100px);
    }

    .main
    {
        max-width: 100%;
    }

    .control-panel, .status-panel
    {
        border-radius: 0!important;
        max-width: 100%!important;
        white-space: normal;
        font-size: 46px!important;
    }

    .control-container, .status-container
    {
        width: calc(100% + 50px)!important;
        left: -25px;
        margin-top: 0;
        min-width: none;
        max-width: none;
    }
    
    .status-container
    {
        margin-top: 50px;
        bottom: 0;
        margin-bottom: -100px;
    }

    input, .outline
    {
        font-size: 18px;
        font-weight: 300!important;
        border-radius: 30px;
    }

    input
    {
        height: 60px;
    }

    .overlay, .overlay-bottom
    {
        top: 70px;
        margin-top: -70px;
    }

    .overlay-bottom
    {
        top: 90px;
    }

    .widget
    {
        display: block;
        border-radius: 30px;
    }

    .widget-right
    {
        width: 100%;
        border-radius: 30px;
    }

    .widget-left *, .widget-right *
    {
        text-align: center;
        width: 100%;
    }

    .widget-left
    {
        width: 100%;
    }
}
