#plugin-container
{
    margin: 100px 0;
}

#plugin-container .plugin
{
	min-height: 50px;
    padding: 9px 20px;

    text-align: left;
    letter-spacing: 3px!important;
	line-height: 2;

	overflow: hidden;

    transition: .3s ease-in-out height, var(--transition-color)!important;
	will-change: height;
}

#plugin-container .plugin .head
{
    display: flex;
    justify-content: space-between;
}

.widget.widget-multi .widget-right
{
    user-select: text;
}

#expert-mode
{
    margin-bottom: 20px;
    display: none;
}

.bottom
{
    margin: 0 auto;
    margin-bottom: 100px;
    width: 100%;
    max-width: 400px;
}

#footer-fade > div:last-child, #footer-temp > div:last-child
{
    display: flex;
    gap: 20px;
}

#footer-fade > div:last-child > div, #footer-temp > div:last-child > div
{
    width: 100%;
}