#widgets
{
	margin-bottom: 100px;
}

#plugin-container
{
	margin: 100px 0;
}

.widget.widget-multi .widget-right
{
	user-select: text;
}

#expert-mode
{
	margin-bottom: 20px;
}

.bottom
{
	margin: 0 auto;
	margin-bottom: 100px;
	width: 100%;
	max-width: 400px;
}