.widget.widget-multi
{
    margin-left: 0;
    margin-bottom: 20px;
}

.widget.widget-multi .widget-right
{
    user-select: text;
}

#expert-mode
{
    margin-bottom: 20px;
    display: none;
}

.bottom
{
    margin: 0 auto;
    margin-bottom: 100px;
    width: 100%;
    max-width: 400px;
}