@media only screen and (max-width: 1176px)
{
    #plugin-container .plugin
    {
        min-height: 60px;
        padding: 12px 20px;
    }

    #plugin-container .plugin .head
    {
        top: -1px;
        position: relative;
    }
}